.medication-search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 0.2rem;
  color: #444444;
}

.medication-search {
  margin-left: 0.5rem;
  width: 13rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  border: 0.1em solid #9b9b9b;
  color: #444444;
  margin-top: 0.2rem;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.table-content-wrapper {
  display: flex;
  flex-direction: row;
}

.table-header-start {
  border: 1px solid #7c7c7c;
  border-radius: 10px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: #e8e8e8;
  color: #4d4d4d;
}

.table-header-end {
  border: 1px solid #7c7c7c;
  border-radius: 0 10px 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: #e8e8e8;
  color: #4d4d4d;
}

.table-header {
  border: 1px solid #7c7c7c;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: #e8e8e8;
  color: #4d4d4d;
}

.table-cell {
  border: 1px solid #7c7c7c;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: #f6f6f6;
  color: #4d4d4d;
}

.table-footer-wrapper {
  border: 1px solid #7c7c7c;
  border-radius: 0 0 10px 10px;
  height: 2rem;
  background-color: #e8e8e8;
  color: #4d4d4d;
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon {
  height: 1rem;
}

.icon:hover {
 cursor: pointer;
}
