.navigation-header-wrapper {
  height: 5rem;
  border-bottom: 1px solid #9b9b9b;
  background-color: #cbf0ff;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.navigation-header-image {
  height: 1.8rem;
  margin-left: 0.5rem;
}

.navigation-header-separator {
  height: 100%;
  width: 0.01rem;
  border: 1px solid grey;
  margin-left: 0.5rem;
}

.navigation-header-button {
  display: flex;
  height: 2rem;
  width: 7rem;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 0.5rem;
  color: #708eaf;
}


